<!DOCTYPE html>
<html>
<head>
  <title>GoalSetter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if is_logged_in %>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <button name="Log Out">Log Out</button>
  </form>

<% end %>

<%= yield %>

</body>
</html>
