<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if is_logged_in %>
  <%= current_user.username %>

  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Log Out</button>

  </form>

<% else %>
  <a href="<%= new_session_url %>">Log In</a>  
<% end %>

<%= yield %>

</body>
</html>
