<h4>Write a comment about <%= @track.name %> </h4>

<form action="<%= notes_url %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <input type="hidden" name="note[track_id]" value="<%= @track.id %>">

  <textarea name="note[body]" rows="8" cols="40">What do you think about this song?</textarea>

  <br>

  <input type="submit" value="Post Comment">

</form>

<br>

<form action="<%= track_url(@track) %>" method="get">
  <input type="submit" value="Cancel" name="cancel">
</form>
