Welcome <%= @user.username %>
<br>
<% unless public_goals(@user).nil? %>
  <% public_goals(@user).each do |goal| %>

    <%= "#{goal.name}, #{goal.status}" %><br>

    <% if current_user == @user %>
      <a href="<%= edit_goal_url(goal.id) %>">Edit Goal</a>
      <form action="<%= goal_url(goal.id) %>" method="post">
        <input type="hidden" name="authenticity_token"
                value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <button name="Delete">Delete</button>
      </form>
    <% end %>

  <% end %>
<% end %>

<br>
<% if current_user == @user %>
  <% unless private_goals(@user).nil? %>
    <% private_goals(@user).each do |goal| %>
      <%= "#{goal.name}, #{goal.status}" %>
      <a href="<%= edit_goal_url(goal.id) %>">Edit Goal</a>
      <form action="<%= goal_url(goal.id) %>" method="post">
        <input type="hidden" name="authenticity_token"
                value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <button name="Delete">Delete</button>
      </form>
    <% end %>
  <% end %>
<% end %>

<form action="<%= goals_url %>" method="post">
  <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">

  <input type="hidden" name="goal[user_id]" value="<%= @user.id %>">

  <label for="Name">Name
    <input type="text" name="goal[name]" value="<%=  %>">
  </label><br>
  <br>
  <% Goal::AVAILABILITY.each do |avail| %>
    <input type="radio" name="goal[availability]" id="goal_avail_<%= avail %>"
            value="<%= avail %>"><br>
    <label for="goal_avail_<%= avail %>"><%= avail %></label><br>
  <% end %>

  <% Goal::STATUS.each do |status| %>
    <input type="radio" name="goal[status]" id="goal_status_<%= status %>"
            value="<%= status %>"><br>
    <label for="goal_status_<%= status %>"><%= status %></label><br>
  <% end %>

  <button name="Create a Goal">Create a Goal</button>

</form>
