<h1>Edit <u><%= @album.name %></u>(<%= @album.band.name %>)</h1>

<br><br>

<form action="<%= album_url(@album) %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">


  <input type="hidden" name="album[band_id]" value="<%= @album.band_id %>">

  <label for="album_name">Album Name</label><br>
  <input type="text" name="album[name]" value="<%= @album.name %>">

  <br><br>

  <% Album::SETTINGS.each do |setting| %>
    <label for="album_setting"><%= setting.capitalize %>:</label>
    <input type="radio" name="album[setting]" id="album_<%= setting %>"
            value="<%= setting %>" <%= "checked" if @album.setting == setting %>>
  <% end %>

  <br><br>

  <input type="submit" value="Edit Album">

</form>

<form action="<%= album_url(@album) %>" method="get">
  <input type="submit" value="Cancel" name="cancel">
</form>
