<h1>Edit <%= @band.name %>:</h1>

<br><br>

<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">

  <label for="band_name">Artist Name:</label><br>
  <input type="text" name="band[name]" value="<%= @band.name %>">

  <br><br>

  <input type="submit" value="Edit Artist">

</form>

<form action="<%= band_url(@band) %>" method="get">
  <input type="submit" value="Cancel" name="cancel">
</form>
